.product-page-banner {
  @apply w-full h-[150px] py-[40px] text-center;
  background-image: url(../../../public/images/gardener-breadcrumb.webp);
  background-size: cover;
  background-position: 50%;
}
