 NEXT_PUBLIC_API_KEY='iznWP6CS0Q9RCsY07oJT'
NEXT_PUBLIC_API_URL='https://api.uat.ordering-Farmshop.ekbana.net/api'
NEXT_PUBLIC_BASE_URL='https://uat.ordering-Farmshop.ekbana.net/'
NEXT_PUBLIC_API_SYSTEM_URL='https://system.uat.ordering-Farmshop.ekbana.net'
# NEXT_PUBLIC_SKU_METHOD= "modal"
NEXT_PUBLIC_SKU_METHOD= "redirect" 
NEXT_PUBLIC_V1_API = 'v1'
NEXT_PUBLIC_V2_API = 'v2'